version: 2

updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "00:00"
      timezone: UTC
    open-pull-requests-limit: 10
    commit-message:
      prefix: build
      include: scope
    ignore:
      - dependency-name: "@commitlint/config-conventional"
        versions:
          # version 19.x has ESM issues
          - ">=19.0.0"
      - dependency-name: "chai"
        versions:
          # version 5.x is ESM only
        - ">=5.0.0"
      - dependency-name: "fast-copy"
          # version 3.x is causing import errors on depending packages
        versions:
        - ">=3.0.0"
      - dependency-name: "semantic-release"
        versions:
        - ">=20.0.0"

    cooldown:
      default-days: 15