name: Run Checks

on:
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore the build folders
        uses: actions/cache/restore@v4
        with:
          path: |
            dist
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}

      - name: Run linter
        run: npm run lint

      # Prior CI workflow did not format, skipping for now
      # - name: Check formatting
      #   run: npm run format:check

      - name: Run tests
        run: npm test
